# =========================
# GO
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

bin/
dist/
vendor/

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.production

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker-data/
postgres-data/

# Docker volumes
volumes/

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# TEST / COVERAGE
# =========================
coverage.out
coverage.html

# =========================
# PRISMA
# =========================
prisma/*.db
prisma/*.db-journal